<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Health Monitoring</title>
    <link rel="stylesheet" href="../static/css/aboutstyle.css">
    <link rel = "icon" href = "../static/images/logo.jpg" type = "image/x-icon">
<body>
    <section id="about">
        <div class="about-wrapper container">
          <div class="about-text">
            <p class="small">About Us</p>
            <h2>Crop Health Monitoring</h2>
            <p>
              It is very important to get an accurate diagnosis of Crop diseases for global health and well being. In this ever changing environment, identifying the disease including early prevention is important to avoid problems that we might face otherwise. Some of these problems could have devastating impacts on humanity including global shortage of Crop. 
            </p><br>
            <p >
              It is crucial to prevent unnecessary waste of financial resources achieving a healthier lifestyle, by addressing climate change from an ecological perspective. It is difficult for the naked eye of a human being to catch all sorts of problems with Crop diseases. Also doing this time and time again is also laborious and unproductive work. 
            </p><br>
            <p >
              In order to achieve accurate Crop disease detection, a Crop pathologist should possess good observation skills so that one can identify characteristic symptoms. An automated system designed to help identify Crop diseases by the Crop’s appearance and visual symptoms could be of great help. This can be deployed in agricultural fields so that the whole pipeline can be automated. This would not only lead to better efficiency as machines could perform better than humans in these redundant tasks but also improve the productivity of the farm. Our work solves the above mentioned problem of automating Crop disease classification using deep learning techniques.
            </p>
          </div>
          <div class="about-img">
            <img src="../static/images/about2.jpg" alt="Crop" />
            <img src="../static/images/about.jpg" />
          </div>
        </div>
      </section>
</body>
</html>