<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/services.css">
    <link rel = "icon" href = "../static/images/logo.jpg" type = "image/x-icon">
    <title>OUR SERVICES</title>
</head>

<body>
    <div id="bg">
        <img src="../static/images/banner.jpg" alt="">
      </div>
 

    <section class="product"> 
        <h2 class="product-category">OUR SERVICES</h2>
        <p  class="product-category">Here you can scan your disease images to find a treatment</p>
        <button class="pre-btn"><img src="../static/images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="../static/images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card1.jpg" class="product-thumb" alt="">
                    <a href="wheat_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Wheat</h2>
                    <p class="product-short-description">Scan a disease wheat image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card2.jpg" class="product-thumb" alt="">
                    <a href="corn_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Corn</h2>
                    <p class="product-short-description">Scan a disease Corn image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card3.jpg" class="product-thumb" alt="">
                    <a href="cotton_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Cotton</h2>
                    <p class="product-short-description">Scan a diseaseCotton image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card4.jpg" class="product-thumb" alt="">
                    <a href="cucumber_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Cucumber</h2>
                    <p class="product-short-description">Scan a disease Cucumber image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card5.jpg" class="product-thumb" alt="">
                    <a href="grape_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Grapes</h2>
                    <p class="product-short-description">Scan a disease Grapes image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card6.jpg" class="product-thumb" alt="">
                    <a href="potato_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Potato</h2>
                    <p class="product-short-description">Scan a disease Potato image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card7.jpg" class="product-thumb" alt="">
                    <a href="rice_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Rice</h2>
                    <p class="product-short-description">Scan a disease Rice image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card8.jpg" class="product-thumb" alt="">
                    <a href="tomato_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Tomato</h2>
                    <p class="product-short-description">Scan a disease Tomato image..</p>
                 
                </div>
                
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="../static/images/card9.jpg" class="product-thumb" alt="">
                    <a href="apple_index_crop"><button class="card-btn">Scan Image</button></a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Apple</h2>
                    <p class="product-short-description">Scan a disease Apple image..</p>
                 
                </div>
                
            </div>
           
    </section>
    
    <script src="../static/js/script.js"></script>
</body>
</html>